flow.json
[
    {
        "id": "59a0bad7073bcd64",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0385c4a0f3d45ee3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "27c07a765d141ace",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2a11c41f676a1a39",
        "type": "ui_tab",
        "name": "Smart Plug",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b8d2d09c504dbf58",
        "type": "ui_group",
        "name": "Power",
        "tab": "2a11c41f676a1a39",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "4ff12dc7894c7df2",
        "type": "ui_group",
        "name": "Threshold",
        "tab": "2a11c41f676a1a39",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5064f7f4fee4cd2",
        "type": "ui_group",
        "name": "Schedule ON/OFF",
        "tab": "2a11c41f676a1a39",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b799eddd1eabb474",
        "type": "ui_group",
        "name": "Smart Plug Switch",
        "tab": "2a11c41f676a1a39",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c6f72bb4883d1d6",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "2a11c41f676a1a39",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "4529a262d878ff59",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "2a11c41f676a1a39",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "7c188941542118c2",
        "type": "ui_group",
        "name": "Repeat",
        "tab": "2a11c41f676a1a39",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "415c907383f1fc2e",
        "type": "ui_spacer",
        "z": "59a0bad7073bcd64",
        "name": "spacer",
        "group": "4529a262d878ff59",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "427e1b8dc0db50de",
        "type": "ui_spacer",
        "z": "59a0bad7073bcd64",
        "name": "spacer",
        "group": "7c188941542118c2",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "7032e523f530d5b1",
        "type": "ui_spacer",
        "z": "59a0bad7073bcd64",
        "name": "spacer",
        "group": "7c188941542118c2",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "9e442f0382ac9eda",
        "type": "ui_spacer",
        "z": "59a0bad7073bcd64",
        "name": "spacer",
        "group": "7c188941542118c2",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "beb7112486b2807b",
        "type": "ui_spacer",
        "z": "59a0bad7073bcd64",
        "name": "spacer",
        "group": "7c188941542118c2",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "1164b736a399388b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "96130e027ae46bba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "078f291cd7c79276",
        "type": "ui_switch",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "1c6f72bb4883d1d6",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 830,
        "y": 320,
        "wires": [
            [
                "cfb160fe261c9ee1",
                "233f2b7de80e238c"
            ]
        ]
    },
    {
        "id": "fb6ce91e8d83d26b",
        "type": "ui_chart",
        "z": "59a0bad7073bcd64",
        "name": "",
        "group": "b8d2d09c504dbf58",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0507fd99b41c1fd1",
        "type": "ui_gauge",
        "z": "59a0bad7073bcd64",
        "name": "",
        "group": "b8d2d09c504dbf58",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Power",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "850",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "eedebb0c7203774e",
        "type": "ui_switch",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Scheduled ON",
        "tooltip": "",
        "group": "4529a262d878ff59",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f2b19b4200eaa235",
        "type": "ui_switch",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Scheduled OFF",
        "tooltip": "",
        "group": "4529a262d878ff59",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "69decd9c3a0fe0f8",
        "type": "ui_date_picker",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "date",
        "group": "4529a262d878ff59",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": true,
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7efcde0fa99aad27",
        "type": "ui_switch",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Repeat",
        "tooltip": "",
        "group": "7c188941542118c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "eb282b9f801f4f0c",
        "type": "ui_numeric",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Occurrings",
        "tooltip": "",
        "group": "7c188941542118c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 250,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "05c51c0b26b33bdc",
        "type": "ui_date_picker",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Start Date",
        "group": "7c188941542118c2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 260,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c35925cbea4de0e1",
        "type": "ui_numeric",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Running Time (Minutes)",
        "tooltip": "",
        "group": "7c188941542118c2",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 290,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "99752a5e8390a17d",
        "type": "ui_numeric",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Warning Level",
        "tooltip": "",
        "group": "4ff12dc7894c7df2",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "Warning",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "999",
        "step": 1,
        "className": " ",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "14ac5712b2a88231"
            ]
        ]
    },
    {
        "id": "e5a333081d7ee0bf",
        "type": "ui_numeric",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "Cutoff Level",
        "tooltip": "",
        "group": "4ff12dc7894c7df2",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "17573b9cf5a85577"
            ]
        ]
    },
    {
        "id": "25ac4e6648b3254d",
        "type": "ui_date_picker",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "date",
        "group": "4529a262d878ff59",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "51e16d3028a3a71b",
        "type": "ui_text_input",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4529a262d878ff59",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "20caa5ede0f9aa45",
        "type": "ui_text_input",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4529a262d878ff59",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "100",
        "topic": "payload",
        "sendOnBlur": true,
        "className": " ",
        "topicType": "msg",
        "x": 220,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "433ee6ae49a26ad0",
        "type": "ui_text_input",
        "z": "59a0bad7073bcd64",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7c188941542118c2",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "233f2b7de80e238c",
        "type": "mqtt out",
        "z": "59a0bad7073bcd64",
        "name": "",
        "topic": "Smart_Plug-Relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "27c07a765d141ace",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "f5243a9700c2a50b",
        "type": "mqtt in",
        "z": "59a0bad7073bcd64",
        "name": "",
        "topic": "Power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "27c07a765d141ace",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "0507fd99b41c1fd1",
                "fb6ce91e8d83d26b",
                "6fadec28fb15d12c"
            ]
        ]
    },
    {
        "id": "377fcc23db7c3cd3",
        "type": "ui_toast",
        "z": "59a0bad7073bcd64",
        "position": "dialog",
        "displayTime": "2",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cfb160fe261c9ee1",
        "type": "function",
        "z": "59a0bad7073bcd64",
        "name": "Set Switch Status",
        "func": "if (msg.payload==1) global.set(\"switchStatus\",true);\nelse global.set(\"switchStatus\",false);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6fadec28fb15d12c",
        "type": "function",
        "z": "59a0bad7073bcd64",
        "name": "Check if the Power is below the threshold",
        "func": "// Assuming the threshold is defined as a constant (you can adjust it)\nconst warningLevel = global.get(\"warningLevel\");\nconst cutOffLevel = global.get(\"cutOffLevel\");\n\n// Assuming the power value is in msg.payload\nconst powerValue = msg.payload;\n\n// Check if the power value is below the threshold\nif (powerValue < warningLevel) {\n    // Power is below the warning level, no action needed\n    return [null, null];\n} else {\n    var msg1 = { payload: null };\n    var msg2 = { payload: 0 };\n\n    // Check if power exceeds warning level\n    if (powerValue >= warningLevel && powerValue < cutOffLevel) {\n        // Power is above or equal to warning level, output a warning message\n        msg1.payload = \"WARNING: Power is above the warning level.\";\n        return [msg1, null];\n    } else if (powerValue >= cutOffLevel) {\n        // Power is above or equal to cutoff level, output a warning message and turn off the switch\n        msg1.payload = \"ALERT: Power is above the cutoff level. Switch turned OFF.\";\n        if (global.get(\"switchStatus\")) return [msg1, msg2];\n        else return [null, null];\n    } else {\n        // Power is between warning level and cutoff level, no action needed\n        return [null, null];\n    }\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "377fcc23db7c3cd3"
            ],
            [
                "078f291cd7c79276"
            ]
        ]
    },
    {
        "id": "14ac5712b2a88231",
        "type": "change",
        "z": "59a0bad7073bcd64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "warningLevel",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "17573b9cf5a85577",
        "type": "change",
        "z": "59a0bad7073bcd64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cutOffLevel",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 200,
        "wires": [
            []
        ]
    }
]